/* pc */
@media (max-width: 1170px) {
  [class*="__container"] {
    max-width: 970px;
  }
}

/* tablet */
@media (max-width: 991.98px) {
  [class*="__container"] {
    max-width: 750px;
  }
  .header__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
  }
}

/* tablet2  */
@media (max-width: 767.98px) {
  [class*="__container"] {
    max-width: 500px; /*??*/
  }
  .heading1 {
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
  }
}
/* 479px  - should be this number, but for testing in the browser i did 700px*/
/* mobile  */
@media (max-width: 700px) {
  [class*="__container"] {
    max-width: none;
  }
  .main {
    margin-top: 60px;
  }
  .header__menu,
  .header__contacts {
    display: none;
  }
  .header__container {
    display: flex;
    min-height: 60px;
    align-items: center;
    justify-content: space-between;
  }
  .header__container:hover {
    color: var(--color-accent);
  }

  .mobile-header {
    display: contents;
  }
  .heading1 {
    font-size: 26px;
    line-height: 42px;
    letter-spacing: 0.06em;
  }
}
