.container {
  margin: 0 100px auto;
  max-width: 1100px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  width: 500px;
  margin-bottom: 10px;
}
.accordeon__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  border: 1px solid #888;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
}
.accordeon__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 20px;
  will-change: max-height;
  transition: all 0.3s ease-out;
  box-sizing: content-box;
  border: 1px solid #888;
  border-top: 1px solid transparent;
}
.open .accordeon__icon {
  transform: rotate(45deg);
}
.accordeon__icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #bfbfbf;
  transition: transform 0.3s ease-out;
}
.accordeon__icon::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 1px;
  background-color: #000;
  transform: translate(-50%, -50%);
}

.accordeon__icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 50%;
  background-color: #000;
  transform: translate(-50%, -50%);
}
.open .accordeon__content {
  opacity: 1;
  padding: 20px;
}
