.label {
    width: 50px;
    height: 26px;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6464;
    /* background-color: #111; */
    border-radius: 50px;
    position: relative;
    display: flex;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

/* .checkbox:checked+.label {
    background-color: purple;
} */

.ball {
    width: 22px;
    height: 22px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    box-sizing: border-box;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: bisque;
}

.fa-sun {
    color: rgb(255, 185, 100);
}

body.dark {
    background-color: rgb(51, 51, 51);
    /* color: whitesmoke; */
}

.dark p {
    color: whitesmoke;
}

.dark h1,
.dark h2,
.dark h3,
.dark h5 {
    /* color: #FF6464; */
    color: var(--headers-color);
}

.dark .header-nav {
    background-color: rgb(51, 51, 51);
    color: white;
}

.dark .card-post {
    background-color: rgb(51, 51, 51);
}

.dark .card-right__round-date {
    background-color: #FF6464;
}

.dark .header-nav__link {
    background-color: rgb(51, 51, 51);
    color: white;
}

.dark .header-nav__link_active {
    color: #FF6464;
}

.dark .shapka__text {
    color: rgb(51, 51, 51);
}

.dark .shapka__text_dark {
    color: white;
}

.dark .card-right__topic {
    color: #8695A4;
}

.dark svg {
    fill: white;
}

.dark .card-post__separator {
    background-color: white;
}

.dark svg:hover {
    fill: #FF6464;
}

/* .dark .hamburger-inner,
.dark .hamburger-inner::before,
.dark .hamburger-inner::after {
    background-color: white;
} */

body.dark .hamburger-inner,
body.dark .hamburger-inner::before,
body.dark .hamburger-inner::after {
    background-color: #fff;
}

.dark .blog-card__heading {
    color: #FF6464;
}

.dark .blog-card__time {
    color: #8695A4;
}

.dark .blog-card__separator {
    background-color: #8695A4;
}

.dark .blog-card__back {
    color: #FF6464;
}

.dark #after_pic {
    color: #8695A4;
}