/* .footer{
	display:flex;
	flex-direction: column;
	background-color:yellow;
	justify-content: center;
	align-items: center;
} */

.socials{
	display: flex;
	justify-content: center;
	margin-bottom: 26px;
	flex-wrap:wrap;
}
.socials__social-media{
	margin-right: 35px;
}
.socials__social-media_last{
	margin-right: 0px;
}
.footer__copyright{
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	color: #21243D;
}